In [3]:
import pandas as pd

In [2]:
df = pd.read_csv('BPD_Part_1_Victim_Based_Crime_Data.csv')

## Look at the extreme ends of the data 
## Odd things tend to lurk there

In [4]:
df.head(50)

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Location 1,Total Incidents
0,09/03/2016,23:52:00,4C,3700 DOLFIELD AVE,AGG. ASSAULT,O,OTHER,643.0,NORTHWESTERN,Dolfield,"(39.3376100000, -76.6773300000)",1
1,09/03/2016,2304,1F,6100 SHIPVIEW WY,HOMICIDE,Outside,FIREARM,243.0,SOUTHEASTERN,O'Donnell Heights,"(39.2765900000, -76.5425400000)",1
2,09/03/2016,00:00:00,4D,500 MOUNT HOLLY ST,AGG. ASSAULT,I,HANDS,843.0,SOUTHWESTERN,Allendale,"(39.2928100000, -76.6796100000)",1
3,09/03/2016,00:30:00,4D,200 W BALTIMORE ST,AGG. ASSAULT,O,HANDS,111.0,CENTRAL,Downtown,"(39.2893700000, -76.6182500000)",1
4,09/03/2016,01:00:00,7A,4000 BAREVA RD,AUTO THEFT,O,NaN,643.0,NORTHWESTERN,East Arlington,"(39.3342000000, -76.6711900000)",1
5,09/03/2016,01:01:00,5A,4400 MORAVIA RD,BURGLARY,I,NaN,443.0,NORTHEASTERN,Frankford,"(39.3284300000, -76.5579800000)",1
6,09/03/2016,01:15:00,7A,4200 ERDMAN AVE,AUTO THEFT,O,NaN,333.0,NORTHEASTERN,Orangeville Industrial Area,"(39.3123900000, -76.5668000000)",1
7,09/03/2016,01:20:00,4B,800 S BROADWAY,AGG. ASSAULT,O,KNIFE,213.0,SOUTHEASTERN,Fells Point,"(39.2824800000, -76.5935200000)",1
8,09/03/2016,01:40:00,4E,600 N EUTAW ST,COMMON ASSAULT,I,HANDS,143.0,CENTRAL,Seton Hill,"(39.2959700000, -76.6213700000)",1
9,09/03/2016,01:40:00,4B,600 N EUTAW ST,AGG. ASSAULT,I,KNIFE,143.0,CENTRAL,Seton Hill,"(39.2959700000, -76.6213700000)",1
10,09/03/2016,02:00:00,6E,2600 GREENMOUNT AVE,LARCENY,O,NaN,513.0,NORTHERN,Harwood,"(39.3204400000, -76.6095100000)",1
11,09/03/2016,02:07:00,4E,4400 MANORVIEW RD,COMMON ASSAULT,I,HANDS,822.0,SOUTHWESTERN,Uplands,"(39.2873400000, -76.6907600000)",1
12,09/03/2016,02:30:00,4E,1800 WASHINGTON BLVD,COMMON ASSAULT,I,HANDS,941.0,SOUTHERN,Carroll - Camden Industrial Area,"(39.2751300000, -76.6423500000)",1
13,09/03/2016,02:30:00,4E,1800 WASHINGTON BLVD,COMMON ASSAULT,I,HANDS,941.0,SOUTHERN,Carroll - Camden Industrial Area,"(39.2751300000, -76.6423500000)",1
14,09/03/2016,02:54:00,4E,600 MCKEWIN AVE,COMMON ASSAULT,I,HANDS,543.0,NORTHERN,Waverly,"(39.3329500000, -76.6068500000)",1
15,09/03/2016,03:00:00,4D,4300 N ROGERS AVE,AGG. ASSAULT,I,HANDS,621.0,NORTHWESTERN,West Arlington,"(39.3419200000, -76.6957200000)",1
16,09/03/2016,04:25:00,3CO,100 S BROADWAY,ROBBERY - COMMERCIAL,I,OTHER,212.0,SOUTHEASTERN,Washington Hill,"(39.2902100000, -76.5937400000)",1
17,09/03/2016,05:00:00,4E,2400 SAINT PAUL ST,COMMON ASSAULT,O,HANDS,514.0,NORTHERN,Old Goucher,"(39.3165100000, -76.6153300000)",1
18,09/03/2016,07:04:00,6C,200 W CHASE ST,LARCENY,I,NaN,141.0,CENTRAL,Mid-Town Belvedere,"(39.3014000000, -76.6197000000)",1
19,09/03/2016,07:05:00,6B,NORTH AV & N PORT ST,LARCENY,O,NaN,332.0,EASTERN,Broadway East,"(39.3126100000, -76.5838500000)",1
20,09/03/2016,07:40:00,3AK,1900 WILHELM ST,ROBBERY - STREET,O,KNIFE,934.0,SOUTHERN,Carrollton Ridge,"(39.2836400000, -76.6472200000)",1
21,09/03/2016,08:30:00,6J,1700 THAMES ST,LARCENY,I,NaN,213.0,SOUTHEASTERN,Fells Point,"(39.2818100000, -76.5924400000)",1
22,09/03/2016,09:00:00,5D,1400 CHURCH ST,BURGLARY,O,NaN,911.0,SOUTHERN,Curtis Bay,"(39.2228200000, -76.5904900000)",1
23,09/03/2016,09:30:00,6E,1100 N FREMONT AVE,LARCENY,O,NaN,123.0,WESTERN,Upton,"(39.3024300000, -76.6362600000)",1
24,09/03/2016,09:30:00,6J,1600 W NORTH AVE,LARCENY,O,NaN,733.0,WESTERN,Penn North,"(39.3100200000, -76.6428400000)",1
25,09/03/2016,09:30:00,4A,3700 MANCHESTER AVE,AGG. ASSAULT,I,FIREARM,614.0,NORTHWESTERN,Central Park Heights,"(39.3425400000, -76.6763600000)",1
26,09/03/2016,10:15:00,5A,900 MC ALEER CT,BURGLARY,I,NaN,312.0,EASTERN,Oldtown,"(39.2997400000, -76.6044500000)",1
27,09/03/2016,10:30:00,4E,1200 W NORTH AVE,COMMON ASSAULT,O,HANDS,131.0,WESTERN,Druid Heights,"(39.3102600000, -76.6370600000)",1
28,09/03/2016,10:35:00,6G,2500 MCHENRY ST,LARCENY,I,NaN,842.0,SOUTHWESTERN,Shipley Hill,"(39.2839200000, -76.6561400000)",1
29,09/03/2016,10:40:00,4C,500 N LUZERNE AVE,AGG. ASSAULT,O,OTHER,221.0,SOUTHEASTERN,McElderry Park,"(39.2969400000, -76.5807900000)",1
30,09/03/2016,11:30:00,7A,400 MERRYMAN LN,AUTO THEFT,O,NaN,513.0,NORTHERN,Abell,"(39.3282100000, -76.6109100000)",1
31,09/03/2016,11:52:00,6D,300 Loneys Ln,LARCENY FROM AUTO,O,NaN,224.0,SOUTHEASTERN,Ellwood Park/Monument,"(39.2959700000, -76.5726000000)",1
32,09/03/2016,12:00:00,7A,300 DENISON ST,AUTO THEFT,O,NaN,843.0,SOUTHWESTERN,Allendale,"(39.2908700000, -76.6745500000)",1
33,09/03/2016,12:18:00,6C,1600 PENNSYLVANIA AVE,LARCENY,I,NaN,123.0,CENTRAL,Upton,"(39.3034400000, -76.6345800000)",1
34,09/03/2016,12:40:00,4E,1100 WHATCOAT ST,COMMON ASSAULT,O,HANDS,743.0,WESTERN,Sandtown-Winchester,"(39.3017100000, -76.6410600000)",1
35,09/03/2016,12:40:00,4E,1100 WHATCOAT ST,COMMON ASSAULT,O,HANDS,743.0,WESTERN,Sandtown-Winchester,"(39.3017100000, -76.6410600000)",1
36,09/03/2016,13:00:00,4A,1900 EASTERN AVE,AGG. ASSAULT,O,FIREARM,212.0,SOUTHEASTERN,Upper Fells Point,"(39.2857500000, -76.5900000000)",1
37,09/03/2016,13:09:00,4F,2500 E MADISON ST,ASSAULT BY THREAT,I,NaN,323.0,EASTERN,Milton-Montford,"(39.2998900000, -76.5818200000)",1
38,09/03/2016,13:30:00,5A,1900 E LAFAYETTE AVE,BURGLARY,I,NaN,331.0,EASTERN,Broadway East,"(39.3107700000, -76.5914900000)",1
39,09/03/2016,14:20:00,6C,2400 BELAIR RD,LARCENY,I,NaN,434.0,NORTHEASTERN,Belair-Edison,"(39.3176600000, -76.5781900000)",1
40,09/03/2016,14:30:00,4E,1200 MYRTLE AVE,COMMON ASSAULT,I,HANDS,123.0,CENTRAL,Upton,"(39.2983300000, -76.6317200000)",1
41,09/03/2016,14:45:00,3D,3600 E NORTHERN PKWY,ROBBERY - COMMERCIAL,I,NaN,424.0,NORTHEASTERN,North Harford Road,"(39.3583400000, -76.5380200000)",1
42,09/03/2016,15:13:00,6D,400 W MONUMENT ST,LARCENY FROM AUTO,O,NaN,143.0,CENTRAL,Seton Hill,"(39.2974200000, -76.6218600000)",1
43,09/03/2016,15:20:00,7A,3600 ELMLEY AVE,AUTO THEFT,O,NaN,432.0,NORTHEASTERN,Belair-Edison,"(39.3174200000, -76.5678900000)",1
44,09/03/2016,15:30:00,3B,5300 REISTERSTOWN RD,ROBBERY - STREET,O,NaN,623.0,NORTHWESTERN,Woodmere,"(39.3457100000, -76.6874800000)",1
45,09/03/2016,16:00:00,7A,200 N GILMOR ST,AUTO THEFT,O,NaN,711.0,WESTERN,Franklin Square,"(39.2907600000, -76.6425500000)",1
46,09/03/2016,16:16:00,4A,700 BENNINGHAUS RD,AGG. ASSAULT,I,FIREARM,523.0,NORTHERN,Mid-Govans,"(39.3598100000, -76.6067100000)",1
47,09/03/2016,16:50:00,4E,0 N CENTRAL AVE,COMMON ASSAULT,O,HANDS,211.0,SOUTHEASTERN,Jonestown,"(39.2915400000, -76.5997300000)",1
48,09/03/2016,17:00:00,4B,0 S GREENE ST,AGG. ASSAULT,O,KNIFE,121.0,CENTRAL,University Of Maryland,"(39.2882900000, -76.6236700000)",1
49,09/03/2016,17:53:00,4E,3000 OAKFORD AVE,COMMON ASSAULT,O,HANDS,532.0,NORTHERN,Parklane,"(39.3413300000, -76.6645300000)",1

In [4]:
df.tail(50)

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Location 1,Total Incidents
274999,01/01/2011,21:00:00,6J,800 ST PAUL ST,LARCENY,I,NaN,142.0,CENTRAL,Mount Vernon,"(39.2993300000, -76.6141300000)",1
275000,01/01/2011,21:00:00,7A,2700 MARBOURNE AV,AUTO THEFT,O,NaN,923.0,SOUTHERN,Lakeland,"(39.2521100000, -76.6426000000)",1
275001,01/01/2011,21:20:00,4E,1700 NORMAL AV,COMMON ASSAULT,I,HANDS,342.0,EASTERN,Darley Park,"(39.3155100000, -76.5936400000)",1
275002,01/01/2011,21:20:00,3CF,3900 CLAREMONT AV,ROBBERY - COMMERCIAL,I,FIREARM,231.0,SOUTHEASTERN,Highlandtown,"(39.2896000000, -76.5643200000)",1
275003,01/01/2011,21:30:00,6J,0 E CROSS ST,LARCENY,I,NaN,942.0,SOUTHERN,Federal Hill,"(39.2768600000, -76.6142900000)",1
275004,01/01/2011,21:40:00,6E,500 W FRANKLIN ST,LARCENY,O,NaN,143.0,CENTRAL,Seton Hill,"(39.2948300000, -76.6233300000)",1
275005,01/01/2011,21:43:00,4E,1700 E LAFAYETTE AV,COMMON ASSAULT,O,HANDS,331.0,EASTERN,Broadway East,"(39.3107100000, -76.5944200000)",1
275006,01/01/2011,22:00:00,6D,200 EMORY ST,LARCENY FROM AUTO,O,NaN,941.0,SOUTHERN,Ridgely's Delight,"(39.2861000000, -76.6247400000)",1
275007,01/01/2011,22:00:00,6D,1200 N CALHOUN ST,LARCENY FROM AUTO,O,NaN,743.0,WESTERN,Sandtown-Winchester,"(39.3025800000, -76.6403600000)",1
275008,01/01/2011,22:00:00,5A,2300 BOSTON ST,BURGLARY,I,NaN,232.0,SOUTHEASTERN,Canton,"(39.2828600000, -76.5842000000)",1
275009,01/01/2011,22:00:00,4E,2700 ASHLAND AV,COMMON ASSAULT,O,HANDS,323.0,EASTERN,Madison-Eastend,"(39.3010900000, -76.5788000000)",1
275010,01/01/2011,22:15:00,4E,6800 MCCLEAN BD,COMMON ASSAULT,I,HANDS,423.0,NORTHEASTERN,Hamilton Hills,"(39.3704700000, -76.5670500000)",1
275011,01/01/2011,22:15:00,4D,6800 MCCLEAN BD,AGG. ASSAULT,I,HANDS,423.0,NORTHEASTERN,Hamilton Hills,"(39.3704700000, -76.5670500000)",1
275012,01/01/2011,22:30:00,6J,3000 ODONNELL ST,LARCENY,I,NaN,232.0,SOUTHEASTERN,Canton,"(39.2804600000, -76.5727300000)",1
275013,01/01/2011,23:00:00,7A,2500 ARUNAH AV,AUTO THEFT,O,NaN,721.0,WESTERN,Evergreen Lawn,"(39.2954200000, -76.6592800000)",1
275014,01/01/2011,23:25:00,4E,100 N MONROE ST,COMMON ASSAULT,I,HANDS,714.0,WESTERN,Penrose/Fayette Street Outreach,"(39.2899900000, -76.6470700000)",1
275015,01/01/2011,23:38:00,4D,800 N FREMONT AV,AGG. ASSAULT,I,HANDS,123.0,WESTERN,Upton,"(39.2981200000, -76.6339100000)",1
275016,01/01/2011,08:00:00,7A,4100 MCKENDRE PL,AUTO THEFT,O,NaN,623.0,NORTHWESTERN,Woodmere,"(39.3444400000, -76.6858000000)",1
275017,01/01/2011,08:15:00,6E,2300 ORLEANS ST,LARCENY,O,NaN,221.0,SOUTHEASTERN,McElderry Park,"(39.2955600000, -76.5844600000)",1
275018,01/01/2011,08:30:00,5A,3000 FLEETWOOD AV,BURGLARY,I,NaN,424.0,NORTHEASTERN,Westfield,"(39.3620300000, -76.5513000000)",1
275019,01/01/2011,09:00:00,6G,300 W CAMDEN ST,LARCENY,I,NaN,941.0,CENTRAL,Stadium Area,"(39.2852200000, -76.6200600000)",1
275020,01/01/2011,09:00:00,6E,900 N CARROLLTON AV,LARCENY,O,NaN,743.0,WESTERN,Sandtown-Winchester,"(39.2996500000, -76.6373700000)",1
275021,01/01/2011,09:00:00,4E,4800 COLEHERNE RD,COMMON ASSAULT,I,HANDS,822.0,SOUTHWESTERN,Hunting Ridge,"(39.2935800000, -76.7019000000)",1
275022,01/01/2011,10:00:00,6J,2600 KIRK AVE,LARCENY,I,NaN,411.0,NORTHEASTERN,Coldstream Homestead Montebello,"(39.3208400000, -76.5993600000)",1
275023,01/01/2011,10:00:00,5A,1700 BRADDISH AV,BURGLARY,I,NaN,723.0,WESTERN,Coppin Heights/Ash-Co-East,"(39.3076800000, -76.6610100000)",1
275024,01/01/2011,10:00:00,5A,1600 N CALVERT ST,BURGLARY,I,NaN,141.0,CENTRAL,Greenmount West,"(39.3080600000, -76.6136200000)",1
275025,01/01/2011,10:15:00,5A,300 S STRICKER ST,BURGLARY,I,NaN,935.0,SOUTHERN,New Southwest/Mount Clare,"(39.2840800000, -76.6406800000)",1
275026,01/01/2011,10:20:00,5A,800 MC ALEER CT,BURGLARY,I,NaN,312.0,EASTERN,Oldtown,"(39.3000500000, -76.6051000000)",1
275027,01/01/2011,10:30:00,4E,1600 N HILTON ST,COMMON ASSAULT,I,HANDS,813.0,SOUTHWESTERN,Rosemont,"(39.3062000000, -76.6721800000)",1
275028,01/01/2011,10:45:00,6C,300 W LEXINGTON ST,LARCENY,I,NaN,111.0,CENTRAL,Downtown,"(39.2915000000, -76.6197900000)",1
275029,01/01/2011,10:50:00,7A,600 BRIDGEVIEW RD,AUTO THEFT,I,NaN,922.0,SOUTHERN,Cherry Hill,"(39.2495100000, -76.6219100000)",1
275030,01/01/2011,11:00:00,6J,200 E PRESTON ST,LARCENY,I,NaN,141.0,CENTRAL,Mid-Town Belvedere,"(39.3046100000, -76.6125300000)",1
275031,01/01/2011,11:00:00,6J,400 W LEXINGTON ST,LARCENY,I,NaN,111.0,CENTRAL,Downtown,"(39.2913100000, -76.6101000000)",1
275032,01/01/2011,11:25:00,6D,5800 ODONNELL ST,LARCENY FROM AUTO,O,NaN,233.0,SOUTHEASTERN,Medford,"(39.2813200000, -76.5455400000)",1
275033,01/01/2011,12:00:00,6D,1100 COVINGTON ST,LARCENY FROM AUTO,O,NaN,943.0,SOUTHERN,Riverside,"(39.2771000000, -76.6070100000)",1
275034,01/01/2011,12:00:00,5B,1700 HARLEM AV,BURGLARY,I,NaN,713.0,WESTERN,Harlem Park,"(39.2964600000, -76.6443900000)",1
275035,01/01/2011,12:00:00,6E,5200 FAIRLAWN AV,LARCENY,O,NaN,623.0,NORTHWESTERN,Woodmere,"(39.3429000000, -76.6856700000)",1
275036,01/01/2011,12:00:00,6D,1000 BRENTWOOD AV,LARCENY FROM AUTO,O,NaN,311.0,EASTERN,Johnston Square,"(39.3013300000, -76.6091100000)",1
275037,01/01/2011,12:05:00,5A,600 APPLETON ST,BURGLARY,I,NaN,722.0,WESTERN,Midtown-Edmondson,"(39.2955700000, -76.6481800000)",1
275038,01/01/2011,12:25:00,6D,900 STILES ST,LARCENY FROM AUTO,O,NaN,211.0,SOUTHEASTERN,Little Italy,"(39.2869800000, -76.6021300000)",1
275039,01/01/2011,12:37:00,4B,2500 FEDERAL ST,AGG. ASSAULT,I,KNIFE,332.0,EASTERN,Berea,"(39.3090300000, -76.5818200000)",1
275040,01/01/2011,12:40:00,6D,1400 BROENING HW,LARCENY FROM AUTO,O,NaN,233.0,SOUTHEASTERN,Medford,"(39.2776800000, -76.5437500000)",1
275041,01/01/2011,13:30:00,6E,2900 GRINDON AV,LARCENY,O,NaN,421.0,NORTHEASTERN,Lauraville,"(39.3425600000, -76.5718500000)",1
275042,01/01/2011,13:30:00,6D,300 YALE AVE,LARCENY FROM AUTO,NaN,NaN,833.0,SOUTHWESTERN,Irvington,"(39.2815900000, -76.6856300000)",1
275043,01/01/2011,13:42:00,6E,2000 W FRANKLIN ST,LARCENY,O,NaN,722.0,WESTERN,Midtown-Edmondson,"(39.2937900000, -76.6496600000)",1
275044,01/01/2011,13:51:00,3CK,1000 N GILMOR ST,ROBBERY - COMMERCIAL,I,KNIFE,743.0,WESTERN,Sandtown-Winchester,"(39.3004100000, -76.6430000000)",1
275045,01/01/2011,14:00:00,6D,300 S SMALLWOOD ST,LARCENY FROM AUTO,O,NaN,841.0,SOUTHWESTERN,Carrollton Ridge,"(39.2836100000, -76.6511900000)",1
275046,01/01/2011,14:30:00,4E,1800 W SARATOGA ST,COMMON ASSAULT,I,HANDS,711.0,WESTERN,Franklin Square,"(39.2920000000, -76.6464600000)",1
275047,01/01/2011,15:30:00,6D,600 LIGHT ST,LARCENY FROM AUTO,O,NaN,112.0,SOUTHERN,Inner Harbor,"(39.2817400000, -76.6127900000)",1
275048,01/01/2011,15:34:00,4E,2200 ANNAPOLIS RD,COMMON ASSAULT,O,HANDS,921.0,SOUTHERN,Westport,"(39.2638700000, -76.6335100000)",1

## That applies to individual columns as well

In [5]:
sorted(df['CrimeDate'].unique())[:10]

['01/01/2011',
 '01/01/2012',
 '01/01/2013',
 '01/01/2014',
 '01/01/2015',
 '01/01/2016',
 '01/02/2011',
 '01/02/2012',
 '01/02/2013',
 '01/02/2014']

In [6]:
sorted(df['CrimeDate'].unique())[-10:]

['12/30/2011',
 '12/30/2012',
 '12/30/2013',
 '12/30/2014',
 '12/30/2015',
 '12/31/2011',
 '12/31/2012',
 '12/31/2013',
 '12/31/2014',
 '12/31/2015']

In [7]:
sorted(df['CrimeTime'].unique())[:10]

['0000',
 '0001',
 '0002',
 '0003',
 '0004',
 '0005',
 '0006',
 '0007',
 '0008',
 '0009']

In [7]:
sorted(df['CrimeTime'].unique())[-10:]

['23:56:00',
 '23:56:18',
 '23:57:00',
 '23:57:06',
 '23:57:31',
 '23:58:00',
 '23:58:26',
 '23:59:00',
 '23:59:26',
 '2400']

## That's a problem.  Different data formats.  What do you think we should do?  First, let's figure out how many different formats there may be.

In [8]:
len(df)

275049

In [9]:
df['CrimeTime'].apply(lambda time: len(time)).unique()

array([8, 4], dtype=int64)

## Let's assume that 4-character CrimeTimes are HHMM.  Seconds seems like too fine a level of details.  So we'll convert everything to a standard format.

In [10]:
df['CrimeTime'].apply(lambda time: time[:5] if len(time) == 8 else time[0:2] + ':' + time[2:])

0         23:52
1         23:04
2         00:00
3         00:30
4         01:00
          ...
275044    13:51
275045    14:00
275046    14:30
275047    15:30
275048    15:34
Name: CrimeTime, Length: 275049, dtype: object

## That seems to have worked, so let's replace the data column.  In reality, you'd probably keep the original and add a normalized column.

In [11]:
df['CrimeTime'] = df['CrimeTime'].apply(lambda time: time[:5] if len(time) == 8 else time[0:2] + ':' + time[2:])

## Now let's repeat the process with another column.

In [12]:
df['Inside/Outside'].unique()

array(['O', 'Outside', 'I', 'Inside', nan], dtype=object)

## nan means no value stored, it's like NULL in SQL. Let's use I and O instead of Inside and Outside, and use U for Unknown instead of nan.

In [13]:
df['Inside/Outside'] = df['Inside/Outside'].fillna('U')

In [14]:
df['Inside/Outside'].unique()

array(['O', 'Outside', 'I', 'Inside', 'U'], dtype=object)

In [15]:
df['Inside/Outside'] = df['Inside/Outside'].replace(['Inside', 'Outside'], ['I', 'O'])

In [16]:
df['Inside/Outside'].unique()

array(['O', 'I', 'U'], dtype=object)

## I wonder how many of each type there are?

In [17]:
df['Inside/Outside'].value_counts()

I    137684
O    133246
U      4119
Name: Inside/Outside, dtype: int64

## What other columns are there?

In [18]:
df.columns

Index(['CrimeDate', 'CrimeTime', 'CrimeCode', 'Location', 'Description',
       'Inside/Outside', 'Weapon', 'Post', 'District', 'Neighborhood',
       'Location 1', 'Total Incidents'],
      dtype='object')

In [19]:
df['Total Incidents'].value_counts()

1    275049
Name: Total Incidents, dtype: int64

## Clearly we can ignore total incidents. What about CrimeCode?

In [20]:
df['CrimeCode'].value_counts()

4E     46227
6D     37610
5A     26427
7A     24116
6G     15972
       ...
8CV        4
8FV        4
6K         2
8DO        1
3LK        1
Name: CrimeCode, Length: 81, dtype: int64

## There are too many crime codes.  What about descriptions?

In [21]:
df['Description'].value_counts()

LARCENY                 60541
COMMON ASSAULT          46227
BURGLARY                43377
LARCENY FROM AUTO       37610
AGG. ASSAULT            26852
AUTO THEFT              25872
ROBBERY - STREET        16173
ROBBERY - COMMERCIAL     3756
ASSAULT BY THREAT        3418
ROBBERY - RESIDENCE      2893
SHOOTING                 2612
RAPE                     1644
ARSON                    1486
HOMICIDE                 1405
ROBBERY - CARJACKING     1183
Name: Description, dtype: int64

## That seems more manageable.  What about weapons?

In [22]:
df['Weapon'].value_counts()

HANDS      49911
FIREARM    20156
OTHER      13933
KNIFE       9588
Name: Weapon, dtype: int64

## What about district?

In [23]:
df['District'].value_counts()

NORTHEASTERN    43615
SOUTHEASTERN    38033
CENTRAL         32421
SOUTHERN        31726
NORTHERN        30828
NORTHWESTERN    27608
SOUTHWESTERN    25216
EASTERN         23172
WESTERN         22375
Name: District, dtype: int64

# Let's take inventory and see what's left.

In [24]:
df.columns

Index(['CrimeDate', 'CrimeTime', 'CrimeCode', 'Location', 'Description',
       'Inside/Outside', 'Weapon', 'Post', 'District', 'Neighborhood',
       'Location 1', 'Total Incidents'],
      dtype='object')

## Location, Location 1, and Neighborhood probably have too many values to deal with right now

## It looks to me like the Post is an integer and not a float.  All of them end in '.0'.  Or do they?

In [25]:
df[df['Post'].notnull() & (round(df.Post) - df.Post != 0.0)]

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Location 1,Total Incidents
23603,03/07/2016,10:10,5A,400 S JANNEY ST,BURGLARY,I,NaN,2.4,SOUTHEASTERN,Canton Industrial Area,"(41.6091500000, -76.5455300000)",1
23604,03/07/2016,10:10,5A,400 S JANNEY ST,BURGLARY,I,NaN,2.4,SOUTHEASTERN,Canton Industrial Area,"(41.6091500000, -76.5455300000)",1

## Now that's an outlier, and a duplicate record to boot!  I wonder how many duplicate records there are?

In [26]:
len(df) - len(df.drop_duplicates())

10974

In [27]:
df.drop_duplicates(inplace = True)

In [28]:
df[df['Post'].notnull() & (round(df.Post) - df.Post != 0.0)]

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Location 1,Total Incidents
23603,03/07/2016,10:10,5A,400 S JANNEY ST,BURGLARY,I,NaN,2.4,SOUTHEASTERN,Canton Industrial Area,"(41.6091500000, -76.5455300000)",1

In [29]:
len(df)

264075

In [30]:
df = df.drop(23603)

In [31]:
len(df)

264074

In [32]:
df[df['Post'].notnull() & (round(df.Post) - df.Post != 0.0)]

Empty DataFrame
Columns: [CrimeDate, CrimeTime, CrimeCode, Location, Description, Inside/Outside, Weapon, Post, District, Neighborhood, Location 1, Total Incidents]
Index: []

## OK, let's get rid of columns we're not going to use

In [33]:
df.columns

Index(['CrimeDate', 'CrimeTime', 'CrimeCode', 'Location', 'Description',
       'Inside/Outside', 'Weapon', 'Post', 'District', 'Neighborhood',
       'Location 1', 'Total Incidents'],
      dtype='object')

## In df.drop() the axis is rows=0 or columns=1

In [34]:
df.drop('Location', axis=1, inplace=True)

In [35]:
df.drop('Location 1', axis=1, inplace=True)

In [36]:
df.drop('Neighborhood', axis=1, inplace=True)

In [37]:
df.drop('Total Incidents', axis=1, inplace=True)

In [38]:
df

,CrimeDate,CrimeTime,CrimeCode,Description,Inside/Outside,Weapon,Post,District
0,09/03/2016,23:52,4C,AGG. ASSAULT,O,OTHER,643.0,NORTHWESTERN
1,09/03/2016,23:04,1F,HOMICIDE,O,FIREARM,243.0,SOUTHEASTERN
2,09/03/2016,00:00,4D,AGG. ASSAULT,I,HANDS,843.0,SOUTHWESTERN
3,09/03/2016,00:30,4D,AGG. ASSAULT,O,HANDS,111.0,CENTRAL
4,09/03/2016,01:00,7A,AUTO THEFT,O,NaN,643.0,NORTHWESTERN
...,...,...,...,...,...,...,...,...
275043,01/01/2011,13:42,6E,LARCENY,O,NaN,722.0,WESTERN
275044,01/01/2011,13:51,3CK,ROBBERY - COMMERCIAL,I,KNIFE,743.0,WESTERN
275045,01/01/2011,14:00,6D,LARCENY FROM AUTO,O,NaN,841.0,SOUTHWESTERN
275046,01/01/2011,14:30,4E,COMMON ASSAULT,I,HANDS,711.0,WESTERN
275047,01/01/2011,15:30,6D,LARCENY FROM AUTO,O,NaN,112.0,SOUTHERN

## The precise time may not be useful, but maybe the hour would be

In [39]:
df['CrimeHour'] = df['CrimeTime'].apply(lambda time: time[:2])

In [40]:
df['CrimeHour'].value_counts()

18    15908
17    15436
15    15096
16    14984
20    14550
21    14476
19    14351
22    13870
12    13555
23    12921
14    12593
13    11575
00    11480
01    10908
11    10633
10    10317
08     9699
09     9636
02     7582
07     7176
03     5391
06     4372
04     3987
05     3577
24        1
Name: CrimeHour, dtype: int64

## That 24 that occurs once looks sketchy.  Let's get rid of it.

In [41]:
df[df['CrimeHour'] == '24']

,CrimeDate,CrimeTime,CrimeCode,Description,Inside/Outside,Weapon,Post,District,CrimeHour
187903,09/24/2012,24:00,9S,SHOOTING,O,FIREARM,714.0,WESTERN,24

In [42]:
df = df.drop(187903)

In [43]:
df[df['CrimeHour'] == '24']

Empty DataFrame
Columns: [CrimeDate, CrimeTime, CrimeCode, Description, Inside/Outside, Weapon, Post, District, CrimeHour]
Index: []

## Likewise, the day of the week might be more interesting than the precise date

In [49]:
df['CrimeDay'] = df['CrimeDate'].apply(lambda date: pd.Timestamp(date).day_name())

In [50]:
df['CrimeDay'].value_counts()

Friday       40136
Monday       38675
Tuesday      37774
Wednesday    37719
Thursday     37483
Saturday     37175
Sunday       35111
Name: CrimeDay, dtype: int64

## Final cleanup

In [51]:
df.columns

Index(['CrimeDate', 'CrimeTime', 'CrimeCode', 'Description', 'Inside/Outside',
       'Weapon', 'Post', 'District', 'CrimeHour', 'CrimeDay'],
      dtype='object')

In [52]:
df.drop('CrimeDate', axis=1, inplace=True)

In [53]:
df.drop('CrimeTime', axis=1, inplace=True)

In [54]:
df.head(10)

,CrimeCode,Description,Inside/Outside,Weapon,Post,District,CrimeHour,CrimeDay
0,4C,AGG. ASSAULT,O,OTHER,643.0,NORTHWESTERN,23,Saturday
1,1F,HOMICIDE,O,FIREARM,243.0,SOUTHEASTERN,23,Saturday
2,4D,AGG. ASSAULT,I,HANDS,843.0,SOUTHWESTERN,00,Saturday
3,4D,AGG. ASSAULT,O,HANDS,111.0,CENTRAL,00,Saturday
4,7A,AUTO THEFT,O,NaN,643.0,NORTHWESTERN,01,Saturday
5,5A,BURGLARY,I,NaN,443.0,NORTHEASTERN,01,Saturday
6,7A,AUTO THEFT,O,NaN,333.0,NORTHEASTERN,01,Saturday
7,4B,AGG. ASSAULT,O,KNIFE,213.0,SOUTHEASTERN,01,Saturday
8,4E,COMMON ASSAULT,I,HANDS,143.0,CENTRAL,01,Saturday
9,4B,AGG. ASSAULT,I,KNIFE,143.0,CENTRAL,01,Saturday

## Let's see if we can learn a decision tree that predicts Weapon

In [55]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [56]:
df2 = df.copy()

In [57]:
df2.head(10)

,CrimeCode,Description,Inside/Outside,Weapon,Post,District,CrimeHour,CrimeDay
0,4C,AGG. ASSAULT,O,OTHER,643.0,NORTHWESTERN,23,Saturday
1,1F,HOMICIDE,O,FIREARM,243.0,SOUTHEASTERN,23,Saturday
2,4D,AGG. ASSAULT,I,HANDS,843.0,SOUTHWESTERN,00,Saturday
3,4D,AGG. ASSAULT,O,HANDS,111.0,CENTRAL,00,Saturday
4,7A,AUTO THEFT,O,NaN,643.0,NORTHWESTERN,01,Saturday
5,5A,BURGLARY,I,NaN,443.0,NORTHEASTERN,01,Saturday
6,7A,AUTO THEFT,O,NaN,333.0,NORTHEASTERN,01,Saturday
7,4B,AGG. ASSAULT,O,KNIFE,213.0,SOUTHEASTERN,01,Saturday
8,4E,COMMON ASSAULT,I,HANDS,143.0,CENTRAL,01,Saturday
9,4B,AGG. ASSAULT,I,KNIFE,143.0,CENTRAL,01,Saturday

In [58]:
df2.drop(['CrimeCode', 'Description', 'Post'], axis=1, inplace=True)

In [59]:
df2.head(10)

  Inside/Outside   Weapon      District CrimeHour  CrimeDay
0              O    OTHER  NORTHWESTERN        23  Saturday
1              O  FIREARM  SOUTHEASTERN        23  Saturday
2              I    HANDS  SOUTHWESTERN        00  Saturday
3              O    HANDS       CENTRAL        00  Saturday
4              O      NaN  NORTHWESTERN        01  Saturday
5              I      NaN  NORTHEASTERN        01  Saturday
6              O      NaN  NORTHEASTERN        01  Saturday
7              O    KNIFE  SOUTHEASTERN        01  Saturday
8              I    HANDS       CENTRAL        01  Saturday
9              I    KNIFE       CENTRAL        01  Saturday

In [60]:
len(df2)

264073

In [61]:
df2.dropna(inplace=True)

In [62]:
len(df2)

85454

In [63]:
df2.head(10)

   Inside/Outside   Weapon      District CrimeHour  CrimeDay
0               O    OTHER  NORTHWESTERN        23  Saturday
1               O  FIREARM  SOUTHEASTERN        23  Saturday
2               I    HANDS  SOUTHWESTERN        00  Saturday
3               O    HANDS       CENTRAL        00  Saturday
7               O    KNIFE  SOUTHEASTERN        01  Saturday
8               I    HANDS       CENTRAL        01  Saturday
9               I    KNIFE       CENTRAL        01  Saturday
11              I    HANDS  SOUTHWESTERN        02  Saturday
12              I    HANDS      SOUTHERN        02  Saturday
14              I    HANDS      NORTHERN        02  Saturday

## The scikit-learn decison tree wants EVERYTHING to be numbers, which is a pain.  So we need to convert somehow.  We'll use a one-hot encoding.

In [64]:
pd.get_dummies(df2['Inside/Outside'], prefix = 'Inside_Outside')

        Inside_Outside_I  Inside_Outside_O  Inside_Outside_U
0                      0                 1                 0
1                      0                 1                 0
2                      1                 0                 0
3                      0                 1                 0
7                      0                 1                 0
...                  ...               ...               ...
275021                 1                 0                 0
275027                 1                 0                 0
275039                 1                 0                 0
275044                 1                 0                 0
275046                 1                 0                 0

[85454 rows x 3 columns]

## OK, that looks good.  Now lets build up a dataframe for the X (predictor) variables, and the Y (predicted) variable.

In [65]:
X = pd.get_dummies(df2['Inside/Outside'], prefix = 'Inside_Outside')

In [66]:
X = pd.concat([X, pd.get_dummies(df2['District'], prefix = 'District')], axis=1)

In [67]:
X = pd.concat([X, pd.get_dummies(df2['CrimeDay'], prefix = 'CrimeDay')], axis=1)

In [68]:
X.head(3)

,Inside_Outside_I,Inside_Outside_O,Inside_Outside_U,District_CENTRAL,District_EASTERN,District_NORTHEASTERN,District_NORTHERN,District_NORTHWESTERN,District_SOUTHEASTERN,District_SOUTHERN,District_SOUTHWESTERN,District_WESTERN,CrimeDay_Friday,CrimeDay_Monday,CrimeDay_Saturday,CrimeDay_Sunday,CrimeDay_Thursday,CrimeDay_Tuesday,CrimeDay_Wednesday
0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0

## What about CrimeHour?  Is it already a number?

In [69]:
df2.dtypes

Inside/Outside    object
Weapon            object
District          object
CrimeHour         object
CrimeDay          object
dtype: object

## Nope.  Let's convert it and add it to our dataframe.

In [70]:
X['CrimeHour'] = df2['CrimeHour'].astype(float)

## What do things look like now?

In [71]:
X.head(10)

,Inside_Outside_I,Inside_Outside_O,Inside_Outside_U,District_CENTRAL,District_EASTERN,District_NORTHEASTERN,District_NORTHERN,District_NORTHWESTERN,District_SOUTHEASTERN,District_SOUTHERN,District_SOUTHWESTERN,District_WESTERN,CrimeDay_Friday,CrimeDay_Monday,CrimeDay_Saturday,CrimeDay_Sunday,CrimeDay_Thursday,CrimeDay_Tuesday,CrimeDay_Wednesday,CrimeHour
0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,23.0
1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,23.0
2,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0.0
3,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.0
7,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1.0
8,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.0
9,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.0
11,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,2.0
12,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,2.0
14,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,2.0

## Nice!  Now let's get a Y dataframe based on the type of weapon.

In [72]:
from sklearn import preprocessing

In [73]:
le = preprocessing.LabelEncoder()

In [74]:
Y = le.fit_transform(df2['Weapon'])

In [75]:
le.inverse_transform([0, 1, 2, 3])

C:\Users\Sambhaw\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array(['FIREARM', 'HANDS', 'KNIFE', 'OTHER'], dtype=object)

In [76]:
dt = DecisionTreeClassifier()

In [77]:
dt.fit(X.values, Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [78]:
X.columns

Index(['Inside_Outside_I', 'Inside_Outside_O', 'Inside_Outside_U',
       'District_CENTRAL', 'District_EASTERN', 'District_NORTHEASTERN',
       'District_NORTHERN', 'District_NORTHWESTERN', 'District_SOUTHEASTERN',
       'District_SOUTHERN', 'District_SOUTHWESTERN', 'District_WESTERN',
       'CrimeDay_Friday', 'CrimeDay_Monday', 'CrimeDay_Saturday',
       'CrimeDay_Sunday', 'CrimeDay_Thursday', 'CrimeDay_Tuesday',
       'CrimeDay_Wednesday', 'CrimeHour'],
      dtype='object')

In [79]:
with open("dt.dot", 'w') as f:
    export_graphviz(dt, out_file=f, feature_names=X.columns)

## Grab graphviz from http://www.graphviz.org/

In [80]:
import os

In [81]:
!dot -Tpng dt.dot -o dt.png

'dot' is not recognized as an internal or external command,
operable program or batch file.

In [83]:
from IPython.display import Image

In [84]:
Image(filename='dt.png')

FileNotFoundError: [Errno 2] No such file or directory: 'dt.png'

## Too big! Need to depth limit the tree.

In [85]:
dt = DecisionTreeClassifier(max_depth = 4)
dt.fit(X.values, Y)
with open("dt.dot", 'w') as f:
    export_graphviz(dt, out_file=f, feature_names=X.columns)
os.system('dot -Tpng dt.dot -o dt.png')
Image(filename='dt.png')

FileNotFoundError: [Errno 2] No such file or directory: 'dt.png'

## How good is the tree?  Let's try cross validation.

In [86]:
from sklearn import cross_validation

C:\Users\Sambhaw\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [87]:
scores = cross_validation.cross_val_score(dt, X, Y, cv = 10)

In [88]:
scores

array([0.55516556, 0.53703054, 0.57891658, 0.53749854, 0.56370656,
       0.5525392 , 0.53850655, 0.56537516, 0.54512466, 0.56584338])

In [84]:
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.55 (+/- 0.03)

## Again, the question is "how good is that"?  What would you get by random guessing?

In [85]:
pd.value_counts(Y)

1    46415
0    17356
3    12766
2     8917
dtype: int64

In [86]:
46415. / len(Y)

0.5431577222833337

## The answer is that we're doing no better than random guessing!  Maybe try a deeper tree.

In [87]:
dt = DecisionTreeClassifier(min_samples_split = 100)
scores = cross_validation.cross_val_score(dt, X, Y, cv = 10)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.55 (+/- 0.02)

## Ugh!

## What is that called?